

body, 
html {
    height:100%;
    width:100%;
    font-family: 'Plaster', cursive;
background: url(sunfloweralley.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:700;
    border-color:rgba(0,100,255,.5) ;
    border-radius: 300px;
    background-color:rgba(253, 251, 252,0.9);
    color:#ca2da0;
    
}
h1 {
    font-size: 5rem;
    color:rgb(251, 253, 253);
}
.btn:hover {
    background-color:rgba(0, 251, 255, 0.5);
    border-color:rgba(0, 251, 255, 0.5) ;
    transform:scale(1.2)
}
hr {
    margin: 20px auto;
    color: rgb(224, 238, 250);
    border: 3px solid rgb(224, 238, 250);
    border-radius: 10px;
    max-width: 65px;
    opacity: 1;  
}

.btn-xl {
    padding:1rem 2rem;
}
.buffer {
    height:20rem;
}